

*{
    margin: 0;
    padding: 0;
}
.nav{
    height:10vh;
    width: 100vw;
    text-align: center;
}

.nav :nth-child(1){

    border: 2px solid black;
}
.nav :nth-child(2){

    border: 2px solid blue;
}
.nav :nth-child(3){

    border: 2px solid green;
}
.nav :nth-child(4){

    border: 2px solid aqua;
}

.main-container{
    height:60vh;
    width: 100vw;
    background-color: grey;
    text-align: center;
}

.main-container .heading{

    background-color: rgb(76, 76, 101);
    padding:20px;
}

.main-container p{

    padding: 10px;
}


.footer{
    height:10vh;
    width: 100vw;
    background-color: blue;
}